<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" xmlns="http://www.w3.org/1999/xhtml" version="2.0"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
    <jsp:output omit-xml-declaration="true"/>
    <jsp:directive.page pageEncoding="UTF-8" contentType="text/html; UTF-8"/>

    <c:url var="loginUrl" value="/login"/>
    <link href="./css/style.css" rel="stylesheet"/>
    <link href="css/loginPage.css"  rel="stylesheet" type="text/css"/>
    <html>
    <head>
        <title>LOGIN</title>
        <style>
            body {
                background-image: url("images/background.jpg");
                background-position: center center;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>
    </head>
    <body>
    <div>
    <form class="login-form" action="${loginUrl}" method="post">
        <label for="username">Login</label>
        <input class="user-field" type="text" id="username" name="username" required="required" placeholder="usernam"/>
        <br/>
        <label for="password">Password</label>
        <input class="user-field2" type="text" id="password" name="password" required="required" placeholder="password"/>
        <br/>
        <label for="remember_me"/>
        <input type="checkbox" id="remember_me" name="memory">Remember me</input>
        <br/>
        <input class="login-btn" type="submit" value="Sign in"/>
    </form>
    </div>
    </body>
    </html>
</jsp:root>

