
.login-form {
    width: 500px;
    background: rgba(63, 63, 63, 0.14);
    height: 250px;
    text-align: center;
    margin: 5% auto;

    border: 1px solid #3c69ff;
    border-radius: 10px;
    font-size: 20px;

}

.login-btn {
    background-color: #3c69ff;
    width: 150px;
    height: 30px;
    color: aliceblue;
    margin: 5% auto;
    border-radius: 10px;
    border: 1px solid aliceblue;
}

.login-btn-container {
    text-align: center
}

.user-field {
    margin-left: 40px;
    margin-top: 30px;
    height: 25px;
    width: 200px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 5px;

}

.user-field2 {
    margin-left: 15px;
    margin-top: 30px;
    height: 25px;
    width: 200px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 5px;

}

.pass-field {
    margin-left: 8px;
    height: 25px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 10px;
    padding-left: 5px;
}
