.login-btn {
    background-color: blue;
    width: 100px;
    height: 30px;
    color: aliceblue;
    margin: 20px 40%;
}


.login-btn-container {
    text-align: center
}

.user-field {
    margin-left: 40px;
    margin-top: 30px;
    height: 25px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 10px;
    padding-left: 5px;

}

.user-field2 {
    margin-left: 15px;
    margin-top: 30px;
    height: 25px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 10px;
    padding-left: 5px;

}

.pass-field {
    margin-left: 8px;
    height: 25px;
    width: 200px;
    border: 1px solid blue;
    border-radius: 10px;
    padding-left: 5px;
}

.employee-btn {
    background-color: black;
    border: 1px solid blue;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: aliceblue;
    margin: 20px 40%;
}



.save-btn {
    background-color: rgba(3, 22, 255, 0.5);
    width: 100%;
    height: 47px;
    color: white;
}

.th-price {
    float: right;
}

.services-management-wrapper {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}

.add-service-btn {
    margin: 0 auto;
    font-size: 20px;
    width: 200px;
    height: 30px;
    background-color: red;
    cursor: pointer;
}

.add-service-blank {
    margin: 0 auto;
    padding: 20px;
    width: 350px;
    height: 110px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-service-field-name {
    margin: 10px;
    width: 225px;
    height: 20px;
}

.add-service-field-price {
    margin: 15px;
    width: 80px;
    height: 20px;
}


.container {
    position: relative;
    width: 90%;
    height: auto;
    margin: 10px auto;
    color: black;
}

.column-head {
    text-align: center;
    color: black;
}



.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3c69ff;
    color: black;
    text-align: center;

}

.forDiv {
    width: 25%;
    float: left;
}

.column-simple{
    text-align: center;
    color: black;
}

/*
employee panel*/

.main-title-employee {
    text-align: center;
    margin: 10px auto 5px;
    color: black;
    padding-left: 5px;

}

.employee-add-form {
    width: 500px;
    background: rgba(63, 63, 63, 0.14);
    height: 250px;
    text-align: center;
    margin: 5% auto;

    border: 1px solid #D8E6F3;
    border-radius: 10px;
    font-size: 20px;

}

.employee-add-field {
    margin-left: 40px;
    height: 25px;
    width: 180px;
    border: 1px #AFCDE7;
    border-radius: 10px;
    padding-left: 5px;
}

.employee-add-label {
    display: block;
    float: left;
    width: 40px;
    height: 35px;
}


.employee-add-btn {
    background-color: #AFCDE7;
    width: 150px;
    height: 30px;
    color: aliceblue;
    margin: 5% auto;
    border-radius: 10px;
    border: 1px solid aliceblue;
}

.employee-edit-btn {
    background-color: #AFCDE7;
    width: 60px;
    height: 25px;
    color: aliceblue;
    margin: 5% auto;
    border-radius: 10px;
    border: 1px solid aliceblue;
}

.employee-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    text-align: center;
    margin: 5% auto;
}
.employee-table-head {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
.employee-table-cells {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    background: #D8E6F3;
}



/*control buttons*/

.control-btn {
    background-color: #AFCDE7;
    width: 150px;
    height: 50px;
    color: aliceblue;

    border-radius: 10px;
    border: 1px solid aliceblue;
}

/*
customers panel*/

.main-title-customer {
    text-align: center;
    margin: 10px auto 5px;
    color: black;
    padding-left: 5px;

}

.customer-add-form {
    width: 500px;
    background: rgba(63, 63, 63, 0.14);
    height: 250px;
    text-align: center;
    margin: 5% auto;

    border: 1px solid #D8E6F3;
    border-radius: 10px;
    font-size: 20px;

}

.customer-add-field {
    margin-left: 40px;
    height: 25px;
    width: 180px;
    border: 1px #AFCDE7;
    border-radius: 10px;
    padding-left: 5px;
}

.customer-add-label {
    display: block;
    float: left;
    width: 40px;
    height: 35px;
}


.customer-add-btn {
    background-color: #AFCDE7;
    width: 150px;
    height: 30px;
    color: aliceblue;
    margin: 5% auto;
    border-radius: 10px;
    border: 1px solid aliceblue;
}

.customer-edit-btn {
    background-color: #AFCDE7;
    width: 60px;
    height: 25px;
    color: aliceblue;
    margin: 5% auto;
    border-radius: 10px;
    border: 1px solid aliceblue;
}

.customer-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    text-align: center;
    margin: 5% auto;
}
.customer-table-head {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}
.customer-table-cells {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    background: #D8E6F3;
}

/*Index page*/

 .index-page-title {
     text-align: center;
     margin:10px auto 5px;
     width: 600px;
     color: white;
     border-radius: 10px;
     padding-left: 5px;
     background-color: rgba(63, 63, 63, 0.14);
     border: 1px solid #3c69ff;
 }

.button-index-page {
    background-color: rgba(63, 63, 63, 0.14);
    text-align: center;
        width: 400px;
    height: 80px;
    color: black;
    border-radius: 10px;
    padding-left: 5px;
    border: 1px solid #3c69ff;
    left: 250px;
    bottom: 10px;
}

.logout-button {

    text-align: center;
    width: 150px;
    height: 35px;
    color: aliceblue;
    padding-left: 5px;
    left: 250px;
    bottom: 500px;
}


